body{
    background-color: rgb(80, 135, 255);
    font: Normal 12pt Arial;
}

header{
    color: white;
    padding: 10px;
    text-align: center;
    font: Normal 15pt Arial;
}

section{
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.452);
}

footer{
    color: white;
    font: italic;
    text-align: center;
    padding: 15px;
    font: Normal 15pt Arial;
}

input{
    width: 100px;
}

select#flista{
    width: 150px;
}

div#res{
    padding: 10px;
}
